In [37]:
print("hello python")

hello python

In [38]:
print("hello python")
print("hello python")
print("hello python")
print("hello python")
print("hello python")

hello python
hello python
hello python
hello python
hello python

# 파이썬

##파이썬

#파이썬

In [39]:
print("good coding")

good coding

In [1]:
2+2

4

In [3]:
3-2

1

In [4]:
13*3

39

In [5]:
15/3

5.0

In [6]:
type(4)

int

In [7]:
type(3.3)

float

In [8]:
5**2

25

In [9]:
2.5**2

6.25

In [10]:
4**(1/2)

2.0

In [11]:
13 // 3

4

In [12]:
13 % 3

1

In [13]:
1e15

1000000000000000.0

In [14]:
1e16

1e+16

In [15]:
1e-4

0.0001

In [16]:
1e-5

1e-05

In [17]:
17

17

In [20]:
0b10001

17

In [21]:
0o21

17

In [22]:
0x11

17

In [24]:
bin(20)

'0b10100'

In [25]:
oct(20)

'0o24'

In [26]:
hex(20)

'0x14'

In [27]:
print(True)

True

In [29]:
print(False)

False

In [30]:
type(True)

bool

In [31]:
print(True and False)

False

In [33]:
print(True or False)

True

In [34]:
print(not True)

False

In [35]:
print(not False)

True

In [40]:
print(4 < 3)

False

In [41]:
print(4 > 3)

True

In [42]:
print(4 <= 3)

False

In [43]:
print(4 >= 3)

True

In [44]:
print(4 == 3)

False

In [45]:
print(4 != 3)

True

In [46]:
print('$' * 30)

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

In [47]:
## 2의 세제곱

2 ** 3

8

In [49]:
## 2의 루트2 제곱

2 ** (2 ** (1/2))

2.665144142690225

In [52]:
## <%d> or <%i> : 정수를 나타내줌
## <%s> : 문자열을 나타내줌
## <%f> or <%F> : 실수를 나타내줌


a = 52345
b = 66
result = a%b
print('<%d>를 <%d>로 나누면 <%d>가 나머지로 남습니다.' %(a, b, result))

<52345>를 <66>로 나누면 <7>가 나머지로 남습니다.

In [53]:
## 10진수 17을 2진수, 8진수, 16진수로 표현해보자.

bin(17)

'0b10001'

In [54]:
oct(17)

'0o21'

In [55]:
hex(17)

'0x11'

In [56]:
3 == 2

False

In [57]:
a = 3
a>1 and a< 10

True

In [58]:
b = 7
b!=6 or b <= 7

True

In [61]:
no1 = 3450

In [62]:
print(no1)

3450

In [63]:
print(no1*2)
print(no1*3)
print(no1*4)

6900
10350
13800

In [65]:
print("String1")
print("Stirng2")

String1
Stirng2

In [67]:
test1 = "String1"
test2 = "String2"
print(test1)
print(test2)

String1
String2

In [68]:
S3 = 'This is a "match-up" training course'
S4 = "This is a 'match-up' training course"
print(S3)
print(S4)

This is a "match-up" training course
This is a 'match-up' training course

In [69]:
long_str1 = '''여러 행의 문자열을 입력하기 위해서는
삼중 작은따옴표를 이용하면 된다.
이 안에는 "큰 따옴표"도 사용할 수 있다.'''
long_str2 = """여러 행의 문자열을 입력하기 위해서는
삼중 큰따옴표를 이용하면 된다.
이 안에는 '작은 따옴표'도 사용할 수 있다."""
print(long_str1)
print(long_str2)

여러 행의 문자열을 입력하기 위해서는
삼중 작은따옴표를 이용하면 된다.
이 안에는 "큰 따옴표"도 사용할 수 있다.
여러 행의 문자열을 입력하기 위해서는
삼중 큰따옴표를 이용하면 된다.
이 안에는 '작은 따옴표'도 사용할 수 있다.

In [72]:
a = "Match"
b = " up "
c = a+b
print(c)
print(c*3)

Match up
Match up Match up Match up

In [76]:
str1 = "matchup-process"

In [77]:
str1[3]

'c'

In [78]:
str1[-3]

'e'

In [93]:
str2 = "이름:손흥밍, 소속팀:토트넘, 생년:1992"

In [97]:
str2[8:11]

'소속팀'

In [104]:
## "Hi, My name is Biggy"의 자료형을 알기위해서는 어떤 코드를 사용해야 할까요?

ee = "Hi, My name is Biggy"
type(ee)

str

In [106]:
## 갈릴레오 갈릴레이는 말했다. "그래도 지구는 돈다."를 
## print()함수를 활용하여 작성해보자.

print('갈릴레오 갈릴레이는 말했다 "그래도 지구는 돈다."')

갈릴레오 갈릴레이는 말했다 "그래도 지구는 돈다."

In [108]:
## "Python is"와 "easy to code"를 더해보자.
a = "Python is"
b = " easy to code"
c = a + b
print(c)

Python is easy to code

In [110]:
## a = 'python'에서 a * 5의 결과값은?
a = 'python '
a * 5

'python python python python python '

In [111]:
m_stu = [90, 85, 100, 95, 80]
m_stu

[90, 85, 100, 95, 80]

In [112]:
type(m_stu)

list

In [115]:
print(m_stu[0])
print(m_stu[1])
print(m_stu[2])
print(m_stu[3])
print(m_stu[4])

90
85
100
95
80

In [116]:
m_stu[0] = 70
m_stu

[70, 85, 100, 95, 80]

In [118]:
mix_list = [0, 1, 'match-up', 'program', m_stu]
mix_list

[0, 1, 'match-up', 'program', [70, 85, 100, 95, 80]]

In [119]:
list1 = [1,2,3,4]
list2 = [11, 12, 13, 14]
listsum = list1 + list2
listmul = list1 * 3
print(listsum)
print(listmul)

[1, 2, 3, 4, 11, 12, 13, 14]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [121]:
list = [1,2,3,4,5,6,7,8,9,10]
print(list)
print(list[0:3])
print(list[3:10])
print(list[:3])
print(list[6:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3]
[7, 8, 9, 10]

In [122]:
print(list)
del list[9]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
print(4 in list)
print(7 in list)
print(10 in list)

True
True
False

In [124]:
stu = ['박지성', '기성용', '손흥민', '이청용']
print(stu)

['박지성', '기성용', '손흥민', '이청용']

In [125]:
stu.append('이강인')
print(stu)

['박지성', '기성용', '손흥민', '이청용', '이강인']

In [126]:
stu.insert(4, '이승우')
print(stu)

['박지성', '기성용', '손흥민', '이청용', '이승우', '이강인']

In [127]:
stu.extend(['백승호','정우영'])
print(stu)

['박지성', '기성용', '손흥민', '이청용', '이승우', '이강인', '백승호', '정우영']

In [128]:
stu.remove('이청용')
print(stu)

['박지성', '기성용', '손흥민', '이승우', '이강인', '백승호', '정우영']

In [129]:
popstu = stu.pop()
print(popstu)

정우영

In [130]:
stu

['박지성', '기성용', '손흥민', '이승우', '이강인', '백승호']

In [131]:
indexstu = stu.index('박지성')
print(indexstu)

0

In [132]:
countstu = stu.count('기성용')
print(countstu)

1

In [134]:
stu.sort()
print(stu)

['기성용', '박지성', '백승호', '손흥민', '이강인', '이승우']

In [135]:
stu.reverse()
print(stu)

['이승우', '이강인', '손흥민', '백승호', '박지성', '기성용']

In [158]:
## 1. solarsys = ["태양", "수성', "금성", "지구", "화성", "목성", "토성", "천왕성", "해왕성", "명왕성"]
## 이 중 행성이 아닌 명왕성을 삭제하는 방법은? (del)
solarsys = ["태양", "수성", "금성", "지구", "화성", "목성", "토성", "천왕성", "해왕성", "명왕성"]

In [143]:
del solarsys[-1]
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [146]:
## 2. 이어서, [:](슬라이싱)과 del함수를 활용하여 수성부터 토성까지를 삭제하는 방법은?
del solarsys[1:7]
print(solarsys)

['태양', '천왕성', '해왕성', '명왕성']

In [159]:
## 3. 금성과 지구 사이에 달을 삽입해보자.(insert 함수)
solarsys.insert(3, "달")
print(solarsys)

## insert는 3번째 전에 삽입시킨다고 알고 있으면 된다.

['태양', '수성', '금성', '달', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']

In [160]:
## 4. extend 함수를 활용하여 헬리혜성을 추가해보자.
solarsys.extend(['헬리혜성'])
print(solarsys)

## extend 함수는 마지막에 값을 추가해준다.

['태양', '수성', '금성', '달', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성', '헬리혜성']

In [161]:
tp = (1,2,3,4)
print(tp)
type(tp)

(1, 2, 3, 4)

tuple

In [162]:
tp2 = 5,6,7,8
print(tp2)
type(tp2)

(5, 6, 7, 8)

tuple

In [163]:
tp[2]

3

In [164]:
tp3=(1,)
tp4 = 2,
print(tp3)
print(tp4)

(1,)
(2,)

In [165]:
tp5 = (1,2,3,4)
tp5[1] = 10

TypeError: 'tuple' object does not support item assignment

In [166]:
tp6 = ('가', '나', '다', '라', '마', '바')
tp6.index('다')

2

In [168]:
tp7 = ('가' ,'가', '가', '가', '나', '나', '다')
tp7.count('가')

4

In [169]:
seta = {1,2,3,4}
setb = {1,2,2,3,4}
print(seta)
print(setb)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [170]:
type(seta)
type(setb)

set

In [171]:
A = {1,2,3,4,5,6,7,8,9,10}
B = {2,4,5,11,13}
A.intersection(B)

{2, 4, 5}

In [172]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13}

In [173]:
A.difference(B)

{1, 3, 6, 7, 8, 9, 10}

In [174]:
A&B

{2, 4, 5}

In [175]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13}

In [176]:
A-B

{1, 3, 6, 7, 8, 9, 10}

In [178]:
A = [1,2,3]
type(A)

list

In [179]:
B = tuple(A)
B

(1, 2, 3)

In [180]:
type(B)

tuple

In [182]:
C = set(A)
C

{1, 2, 3}

In [183]:
type(C)

set

In [188]:
D = list(B)

TypeError: 'list' object is not callable

In [185]:
B

(1, 2, 3)

In [346]:
## 1. t1 = (1,2,'q','w','e')
## >>> del t1[1]의 결과는 어떻게 나올까요?    ----->  tuple은 특정위치의 값들을 수정 및 삭제 불가능이기 때문에 오류가 나는게 정상!!
t1 = (1,2,'q','w','e')
del t1[1]

TypeError: 'tuple' object doesn't support item deletion

In [197]:
## t1 = (1,2,'q','w','e')에서 2, q, w, e를 [:](슬라이싱)을 통해 선택하는 방법은?
t1 = (1,2,'q','w','e')
t1[1:]

(2, 'q', 'w', 'e')

In [201]:
## t2 = (1,2,1,1,4,1,'e')에서 1의 개수를 세는 방법을 count함수를 활용하여 작성하는 방법은?
t2 = (1,2,1,1,4,1,'e')
t2.count(1)

4

In [202]:
## best2018 = set(["MESSI", "RONALDO", "MBAPPE", "HAZARD", "KANTE", "MODRIC", "MARCELO", "RAMOS", "VARANE", "ALVES", "DEGEA"])
## best2017 = set(["MESSI", "SUAREZ", "RONALDE", "INIESTA", "KROOS", "MODRIC", "MARCELO", "RAMOS", "PIQUE", "ALVES", "NEUER"])
## 위의 자료는 2017년과 2018년 FIFA 올해의 선수 11이다. 이를 활용하여 두 세트의 교집합, 합집합, 차집합을 구해보자.

best2018 = set(["MESSI", "RONALDO", "MBAPPE", "HAZARD", "KANTE", "MODRIC", "MARCELO", "RAMOS", "VARANE", "ALVES", "DEGEA"])
best2017 = set(["MESSI", "SUAREZ", "RONALDE", "INIESTA", "KROOS", "MODRIC", "MARCELO", "RAMOS", "PIQUE", "ALVES", "NEUER"])

In [203]:
best2018.intersection(best2017)

{'ALVES', 'MARCELO', 'MESSI', 'MODRIC', 'RAMOS'}

In [208]:
best2018|best2017

{'ALVES',
 'DEGEA',
 'HAZARD',
 'INIESTA',
 'KANTE',
 'KROOS',
 'MARCELO',
 'MBAPPE',
 'MESSI',
 'MODRIC',
 'NEUER',
 'PIQUE',
 'RAMOS',
 'RONALDE',
 'RONALDO',
 'SUAREZ',
 'VARANE'}

In [205]:
best2018.difference(best2017)

{'DEGEA', 'HAZARD', 'KANTE', 'MBAPPE', 'RONALDO', 'VARANE'}

In [209]:
dict = {"남자":"Men", "여자":"Woman", "아이":"Baby"}
dict

{'남자': 'Men', '여자': 'Woman', '아이': 'Baby'}

In [210]:
type(dict)

dict

In [211]:
dict["남자"]

'Men'

In [212]:
dict1 = {1:"Man", 2:"Woman", 3:"Baby"}
dict1

{1: 'Man', 2: 'Woman', 3: 'Baby'}

In [214]:
dict1[1] # 이것은 위치를 뜻하는게 아니다

'Man'

In [215]:
dict2 = {1:100, 2:200, 3:300, 4:400}
print(dict2)
print(dict2[2])

{1: 100, 2: 200, 3: 300, 4: 400}
200

In [216]:
dict3 = {"list1":[1,2,3], "list2":[4,5,6]}
print(dict3)
print(dict3["list2"])

{'list1': [1, 2, 3], 'list2': [4, 5, 6]}
[4, 5, 6]

In [220]:
dict4 = {1:100, "list":{1:100, 2:200}, "tuple":{"A":[1,2,3], "B":(4,5,6)}, "string":"파이썬"}
dict4

{1: 100,
 'list': {1: 100, 2: 200},
 'tuple': {'A': [1, 2, 3], 'B': (4, 5, 6)},
 'string': '파이썬'}

In [221]:
dict1[1] = "Gender" # 값 변경하기
dict1

{1: 'Gender', 2: 'Woman', 3: 'Baby'}

In [222]:
dict1[4] = "Grand mother" # 값 추가하기
dict1

{1: 'Gender', 2: 'Woman', 3: 'Baby', 4: 'Grand mother'}

In [223]:
del dict1[2] # 값 삭제하기
dict1

{1: 'Gender', 3: 'Baby', 4: 'Grand mother'}

In [224]:
dict1 = {1:"Man", 2:"Woman", 3:"Baby"}
print(dict1.keys())

dict_keys([1, 2, 3])

In [225]:
print(dict1.values())

dict_values(['Man', 'Woman', 'Baby'])

In [226]:
print(dict1.items())

dict_items([(1, 'Man'), (2, 'Woman'), (3, 'Baby')])

In [229]:
dict2 = {4:100, 5:200, 6:300, 7:400}
dict1.update(dict2)
dict1

{1: 'Man', 2: 'Woman', 3: 'Baby', 4: 100, 5: 200, 6: 300, 7: 400}

In [230]:
dict2.clear()
print(dict2)

{}

In [231]:
type(dict2)

dict

In [233]:
## names = {"오현민":10999, "이주경":2111, "권도훈":9778, "김아영":20245, "박서혜":27115, "안준한":5887, "박수정":7855}
## 위 내용은 이름 : 해당하는 인구수 를 표현 한 것이다.
## 1. "오현민"의 인구수를 30000으로 변경해보자.

names = {"오현민":10999, "이주경":2111, "권도훈":9778, "김아영":20245, "박서혜":27115, "안준한":5887, "박수정":7855}
names['오현민'] = 30000
print(names)

{'오현민': 30000, '이주경': 2111, '권도훈': 9778, '김아영': 20245, '박서혜': 27115, '안준한': 5887, '박수정': 7855}

In [234]:
## 2. "이주경" 요소를 제거해보자.

del names["이주경"]
print(names)

{'오현민': 30000, '권도훈': 9778, '김아영': 20245, '박서혜': 27115, '안준한': 5887, '박수정': 7855}

In [236]:
## 3. 딕셔너리의 키(key)만 추출해보자.

key = names.keys()
print(key)

dict_keys(['오현민', '권도훈', '김아영', '박서혜', '안준한', '박수정'])

In [237]:
## 4. 딕셔너리의 값(value)만 추출해보자.

vals = names.values()
print(vals)

dict_values([30000, 9778, 20245, 27115, 5887, 7855])

In [239]:
x = 90 # if 문
if x >= 85:
    print("합격")

합격

In [241]:
x = 75 # if else 문
if x >= 85:
    print("합격")
else:
    print("불합격")

불합격

In [242]:
x = 70 # 여러조건
if x > 85:
    print("A")
elif (x>=70) and (x<85):#== elif 70<=x<85:
    print("B")
else:
    print("F")

B

In [243]:
x = 100 # 중첩문
if x >= 85:
    if x == 100:
            print("A+")
    else:
        print("A")
elif (x>=70) and (x<85):#== elif 70<=x<85:
    print("B")
else:
    print("F")

A+

In [244]:
x = 70
if x >= 90:
    if x == 100:
        print("축하합니다.")
    else:
        print("훌륭합니다.")
elif 85<= x < 90:
    print("훌륭합니다.2")
else:
    print("노력하세요")

노력하세요

In [246]:
a = 0
print(a)

a = a+1
print(a)

a = a+1
print(a)

a = a+1
print(a)

a = a+1
print(a)

a = a+1
print(a)

0
1
2
3
4
5

In [247]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [248]:
jsdata = ["Yoon", "Jang", "Jeong", "Kwon"]
for jsdata in jsdata:
    print(jsdata)

Yoon
Jang
Jeong
Kwon

In [251]:
print(range(0,20,4))

range(0, 20, 4)

In [254]:
print(tuple(range(0,20,4)))
print(set(range(0,20,4)))

(0, 4, 8, 12, 16)
{0, 4, 8, 12, 16}

In [256]:
for b in range(0,5,1):
    print(b)

0
1
2
3
4

In [257]:
for a in range(0,8,2):
    print(a)

0
2
4
6

In [261]:
print(tuple(range(10)))# range(10)=range(0,10)=range(0,10,1)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [262]:
print(tuple(range(0,20,5)))

(0, 5, 10, 15)

In [263]:
print(tuple(range(-10,0,2)))

(-10, -8, -6, -4, -2)

In [264]:
print(tuple(range(3,-10,-3)))

(3, 0, -3, -6, -9)

In [266]:
print(tuple(range(0,-5))) #0부터 증가를 하기 때문에 값이 나오지를 않는다.
print(tuple(range(0,-5,-1)))

()
(0, -1, -2, -3, -4)

In [268]:
x_list = ["x1", "x2"]
y_list = ["y1", "y2"]
print("x,y")
for x in x_list:
    for y in y_list:
        print(x,y)

x,y
x1 y1
x1 y2
x2 y1
x2 y2

In [271]:
names = ["Yoon", "Jang", "Jeong", "Kwon"]
grade = ["A+", "A", "B", "C"]
for k in range(len(names)):
    print(names[k], names[k])
for names, grade in zip(names, grade):
    print(names, grade)

Yoon Yoon
Jang Jang
Jeong Jeong
Kwon Kwon
Yoon A+
Jang A
Jeong B
Kwon C

In [272]:
x=0
y=0
print('x,y')
while(y<20):
    x=x+1
    y=y+x
    print(x,y)

x,y
1 1
2 3
3 6
4 10
5 15
6 21

In [273]:
a = 0
while True:
    a = a+1
    if (a>5):
        break
    print(a)

1
2
3
4
5

In [274]:
for a in range(10):
    if(a>4):
        break
    print(a)

0
1
2
3
4

In [275]:
b=0
while True:
    b = b+1
    if(b==2):
        print("continue")
        continue
    if(b>6):
        break
    print(b)

1
continue
3
4
5
6

In [276]:
n = [1,3,5,7,9]
s = []

for i in n:
    s.append(i**2)
    print(s)

[1]
[1, 9]
[1, 9, 25]
[1, 9, 25, 49]
[1, 9, 25, 49, 81]

In [277]:
n = [1,3,5,7,9]
s = [i**2 for i in n]
print(s)

[1, 9, 25, 49, 81]

In [279]:
n = [1,3,5,7,9]
s = []
for i in n:
    if (i>=5):
        s.append(i**2)
        print(s)

[25]
[25, 49]
[25, 49, 81]

In [281]:
n = [1,3,5,7,9]
s = [i**2 for i in n if i >= 5]
print(s)

[25, 49, 81]

In [284]:
x=3
y=8
if x > 5:
    if y > 7:
        print(x*y)
else:
    print(x+y)

11

In [285]:
x = 5
y = 6
if x > 6:
    if y > 2:
        print(x*y)
else:
    print(x+y)

11

In [286]:
x = 5
y = 2
if x > 3:
    if y > 1:
        print(x*y)
else:
    print(x+y)

10

In [287]:
## 다음 중첩 조건문에 논리 연산자를 적용해 하나의 if 조건문으로 만들어 보시오.
## x = 38
## if 38 <= x < 50:
##    print("correct answer")

x = 38
if x >= 38 and x < 50:
    print("correct answer")

correct answer

In [291]:
## 점수를 입력 받고 60점 이상이면 통과, 60점 미만이면 과락임을 출력하시오.
## score = int(input("점수를 입력하세요")) 으로 시작하시면 됩니다.

score = int(input("점수를 입력하세요"))

if score >= 60:
    print("통과하셨습니다.")
else:
    print("과락하셨습니다.")

점수를 입력하세요90
통과하셨습니다.

In [293]:
## 나이와 키 라는 변수가 주어졌을 때 10세 이상이고, 키 120 이상인 경우만 놀이기구를 탈 수 있다는 조건문을 작성하시오.
## 나이 = 12 / 키 == 130
## 으로 코드작성을 시작합니다.

나이 = 12
키 = 130
if 나이 >= 10 and 키 >= 120:
    print("놀이 기구를 탈 수 있습니다.")
else:
    print("놀이 기구를 탈 수 없습니다.")

놀이 기구를 탈 수 있습니다.

In [297]:
## 여러개의 조건들을 각각 검사하고 판단하고자 합니다.
## x = 10 / y = 12
## x가 y보다 큰 경우와 작은 경우, 같은 경우를 if, else, elif문을 사용하여 코드를 작성해보시오.

x = 10
y = 12
if x > y:
    print("x가 y보다 큽니다.")
elif x < y:
    print("x가 y보다 작습니다.")
else:
    print("x가 y와 같습니다.")

x가 y보다 작습니다.

In [298]:
## numbers라는 리스트형 변수 내에 [6,12,8,10,7,2,3]가 있습니다.
## for문과 continue 키워드를 활용하여 number가 10보다 작으면 다음 반복으로 넘어가도록 코드를 작성해보시오.

nb = [6,12,8,10,7,2,3]
for nb in nb:
    if nb < 10:
        continue
    else:
        print(nb)

12
10

In [299]:
## for문으로 1에서 10까지 출력하되 3의 배수는 건너뛰는 예제를 작성해보시오.

for num in range(1,11):
    if(num%3==0):
        continue
    else:
        print(num)

1
2
4
5
7
8
10

In [301]:
for num in range(1,11):
    if(num%3!=0):
        print(num)

1
2
4
5
7
8
10

In [363]:
## for 반복문과 range()함수를 조합해서
##'''
## 0번째 반복문입니다.
## 1번째 반복문입니다.
## 2번째 반복문입니다.
## 3번째 반복문입니다.
## 4번째 반복문입니다.
## 5번째 반복문입니다. 
##'''
## 위 내용이 결과값으로 출력되게 코드를 작성해보시오.

for i in range(0,6):
    print(i, "번째 반복문입니다.")

0 번째 반복문입니다.
1 번째 반복문입니다.
2 번째 반복문입니다.
3 번째 반복문입니다.
4 번째 반복문입니다.
5 번째 반복문입니다.

In [305]:
## while 문을 사용하여 1에서 100까지 모든 4의 배수들의 합을 계산해보시오.

num = 4
sum = 0
while num <= 100:
    sum += num
    num += 4
print("4의 배수의 합 : ", sum)

# +=  :  왼쪽 변수에 오른쪽 값을 더하고 결과를 왼쪽변수에 할당

4의 배수의 합 :  1300

In [311]:
## 1부터 10까지 합계를 구하는 프로그램을 만들고자 한다.
## 1. For문과 range()함수를 활용하여 만들어 보시오.

s = 0
for i in range(1,11):
    s = s+i
print("1에서 10까지의 합 :", s)

1에서 10까지의 합 : 55

In [312]:
## 2. while 문을 활용하여 만들어 보시오.

s = 0
i = 1
while i <= 10:
    s = s+i
    i = i+1
print("1에서 10까지의 합 :", s)

1에서 10까지의 합 : 55

In [314]:
## while문을 이용하여 아래와 같이 별(*)을 표시하는 프로그램을 작성해 보시오.
## *******
##  *****
##   ***
##    *

star = 7
space = 0
while star>0:
    print(" "*space + "*"*star)
    star = star-2
    space = space+1

*******
 *****
  ***
   *

In [318]:
print("Hello Python")
print("Best", "python", "course")
print("Best", "python", "course", sep="*")
print("Best"+"python"+"course")
print("Best", "python", "course" +":", "Jsdata")

Hello Python
Best python course
Best*python*course
Bestpythoncourse
Best python course: Jsdata

In [320]:
name = "Jun"
tall = 185
print("Name :", name + ",", "Tall :", tall)

Name : Jun, Tall : 185

In [322]:
print("Jun is my friend.\nHe is smart")

Jun is my friend
He is smart

In [324]:
print("Jun is my friend")
print("He is smart")

Jun is my friend
He is smart

In [326]:
print("Jun is my friend. ", end="")
print("He is smart")

Jun is my friend. He is smart

In [328]:
name = "도훈"
print("%s이는 잠자는 것을 좋아한다." %name)

도훈이는 잠자는 것을 좋아한다.

In [329]:
r = 5
PI = 3.141592
print("반지름: %d, 원주율: %f"%(r,PI))

반지름: 5, 원주율: 3.141592

In [332]:
cp_0 = "Galaxy"
cp_1 = "Iphone"
cp_2 = "LGphone"
print("cellphone:{0}".format(cp_0))
print("cellphone:{0},{1},{2}".format(cp_0, cp_1, cp_2))

cellphone:Galaxy
cellphone:Galaxy,Iphone,LGphone

In [336]:
name = "도훈"
age = 26
a = 1.234567890
sum_string = "String:{0}, integer:{1}, float:{2}"
print(sum_string.format(name,age,a))

String:도훈, integer:26, float:1.23456789

In [342]:
a = 1.23456789123456789
print("{0:.2f}, {0:.5f}".format(a))

1.23, 1.23457

In [344]:
x = 4
print("{0:2d}".format(x))
print(x)

 4
4

In [345]:
yourname = input("이름이 어떻게 되시나요?")
print("당신의 이름은 {}이시군요".format(yourname))

이름이 어떻게 되시나요?ㅇㅇ
당신의 이름은 ㅇㅇ이시군요

In [347]:
num = input("1-100 사이 숫자를 입력하세요.")
print("당신이 입력한 숫자는 {}입니다.".format(num))

1-100 사이 숫자를 입력하세요.77
당신이 입력한 숫자는 77입니다.

In [348]:
a = input("정사각형의 한변의 길이를 입력하세요.") # 정수
area = int(a)**2
print("정사각형의 넓이는:{}".format(area))

정사각형의 한변의 길이를 입력하세요.5
정사각형의 넓이는:25

In [350]:
a = input("정사각형의 한변의 길이를 입력하세요.") # 실수
area = float(a)**2
print("정사각형의 넓이는:{}".format(area))

정사각형의 한변의 길이를 입력하세요.4.2
정사각형의 넓이는:17.64

In [351]:
cd C:\python_class

C:\python_class

In [356]:
f = open('file.txt','w')
f.write("This is my first time write.")
f.close()

In [361]:
!type file.txt

This is my first time write.

In [362]:
f = open("file.txt", "r")
file_text = f.read()
f.close()
print(file_text)

This is my first time write.

In [364]:
f = open("file2.txt", "w")
for num in range(6):
    format_string="2x{} = {}\n".format(num, num*2)
    f.write(format_string)
f.close()

In [365]:
!type file2.txt

2x0 = 0
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10

In [368]:
f = open("file2.txt")
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1,end="")
print(line2,end="")

2x0 = 0
2x1 = 2

In [370]:
f = open("file2.txt")
line = f.readline()
while line:
    print(line, end="")
    line=f.readline()#line안에 값이 있으면 계속 돌아가고 없으면 멈춘다.
f.close()

2x0 = 0
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10

In [371]:
f = open("file2.txt")
lines = f.readlines()
f.close()
print(lines)

['2x0 = 0\n', '2x1 = 2\n', '2x2 = 4\n', '2x3 = 6\n', '2x4 = 8\n', '2x5 = 10\n']

In [374]:
f = open("file2.txt")
lines = f.readlines()
f.close()
for line in lines:
    print(line, end="")

2x0 = 0
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10

In [375]:
f = open("file2.txt")
for line in f.readlines():
    print(line, end="")
f.close()

2x0 = 0
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10

In [378]:
with open('C:/python_class/file4.txt', 'w') as f:
    f.write('File read/write test1: line1\n')
    f.write('File read/write test2: line2\n')
    f.write('File read/write test3: line3\n')

In [379]:
with open('C:/python_class/file4.txt') as f:
    file_string = f.read()
    print(file_string)

File read/write test1: line1
File read/write test2: line2
File read/write test3: line3

In [2]:
## 아래의 코드는 두 개의 숫자를 입력 받아 더한 것을 리턴해주는 프로그램이다.
## input1 = input("첫번째 숫자를 입력하세요:")
## input2 = input("두번째 숫자를 입력하세요:")
## total = input1 + input2
## print("두 수의 합은 %s 입니다" % total)
## 이를 돌려보면,
## 첫번째 숫자를 입력하세요:5
## 두번째 숫자를 입력하세요:10
## 두 수의 합은 510 입니다
## 5와 10을 입력하여 510이라는 결과가 나왔다.
## 결과값이 15로 리턴되도록 프로그램의 오류를 수정하시오.

input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")
total = int(input1) + int(input2)
print("두 수의 합은 %s 입니다" % total)# int : 정수화 시키는 함수

첫번째 숫자를 입력하세요:5
두번째 숫자를 입력하세요:10
두 수의 합은 15 입니다

In [362]:
## 사용자로부터 숫자들을 입력 받아, 그 숫자들의 총합을 구하는 프로그램을 작성하시오. ( 단, 숫자들은 콤마(,)로 구분하여 입력합니다. )
## [4, 89, 2456, 21, 18] 해당 숫자를 입력하시오.

num = input("숫자를 입력하세요 :")
nums = num.split(",")
sum=0
for number in nums:
    sum = sum + int(number)
print("입력한 숫자들의 합은 : ", sum)

숫자를 입력하세요 :4,89,2456,21,18
입력한 숫자들의 합은 :  2588

In [4]:
## 구구단 작성 2~9까지의 숫자 중 하나를 입력받아서, 그 숫자의 구구단을 출력하는 프로그램을 작성하고자 한다.

## 구구단을 출력할 숫자(2~9) : 8
## 8 16 247 32 40 48 56 64 72

## 위와 같은 결과를 도출하는 프로그램을 작성하시오

mulitple = input("구구단을 출력할 숫자(2~9)를 입력하세요 : ")
mult = int(mulitple)
for i in range(1,10):
    print(mult*i, end=" ")

구구단을 출력할 숫자(2~9)를 입력하세요 : 3
3 6 9 12 15 18 21 24 27

In [6]:
## 실행을 해보면 "Experience is valuable!"를 출력할것이라 예상했지만, 그 문장이 나오지 않는다.
## 아래쪽의 코드를 수정하여 예상한 문장이 나오도록 해보시오.
## 또한 with구문을 이용하여 작성해보시오.

## f1 = open("t1.txt", "w")
## f1.write("Experience is valuable!")
## f2 = open("t1.txt", "r")
## print(f2.read())


f1 = open("t1.txt", "w") #Experience is valuable! 을 보여주는 방법
f1.write("Experience is valuable!")
f1.close()

f2 = open("t1.txt", "r")
print(f2.read())
f2.close()

## w : 쓰기모드, 같은 이름의 파일이 있는 경우 기존 내용이 모두 삭제됨
## r : 기본모드로 읽기 모드를 의미, 지정하지 않을 경우 기본으로 읽기 모드로 지정

Experience is valuable!

In [7]:
# 같은 결과를 with를 사용해 풀어보기
with open("t1.txt", "w") as f1:
    f1.write("Experience is valuable!")

with open("t1.txt", "r") as f2:
    print(f2.read())

Experience is valuable!

In [9]:
## 사용자의 입력을 파일(t2.txt)에 저장하는 프로그램 작성하시오.
## (단, 프로그램을 다시 실행하더라도 기존 작성한 내용을 유지하고 새로 입력한 내용이 추가되어야 합니다.)
## 실행 시 나오는 내용이다.(실행예제)

## 저장할 내용을 입력하세요 :


str = input("저장할 내용을 입력하세요 :")
f = open("t2.txt", "a")
f.write(str+"\n")
f.close()

저장할 내용을 입력하세요 :good good

In [15]:
def func():
    print("This is my first function.")
    print("It is good.")

In [16]:
func()

This is my first function.
It is good.

In [17]:
def friend(Name):
    print("{}는 나의 친한 친구입니다.".format(Name))

In [18]:
friend("도훈")

도훈는 나의 친한 친구입니다.

In [19]:
friend("changhyun")

changhyun는 나의 친한 친구입니다.

In [22]:
def student_info(name, s_number, p_number):
    print("------------------------------")
    print("- 학생이름 :", name)
    print("- 학생번호 :", s_number)
    print("- 전화번호 :", p_number)

In [23]:
student_info("권도훈", 12345, "02-1234-5678")

------------------------------
- 학생이름 : 권도훈
- 학생번호 : 12345
- 전화번호 : 02-1234-5678

In [24]:
student_info("김준환", 56785, "02-9876-5432")

------------------------------
- 학생이름 : 김준환
- 학생번호 : 56785
- 전화번호 : 02-9876-5432

In [29]:
def calc(x,y):
    z = x + y
    return z  #return(z)도 동일

In [30]:
calc(5,9)

14

In [31]:
def student_info_list(s_list):
    print("------------------------------")
    print("- 학생이름 :", s_list[0])
    print("- 학생번호 :", s_list[1])
    print("- 전화번호 :", s_list[2])
    print("------------------------------")

In [32]:
student_info_list(["정재호", "25", "123-456-789"])

------------------------------
- 학생이름 : 정재호
- 학생번호 : 25
- 전화번호 : 123-456-789
------------------------------

In [33]:
a = 5
def func1():
    a=1
    print("func1의 지역변수는 a=",a)

In [34]:
func1()

func1의 지역변수는 a= 1

In [37]:
a = 5
def func2():
    a=2
    print("func2의 지역변수는 a=",a)
    

def func3():
    a1=3
    print("func3의 전역변수는 a=",a)
    print("func3의 지역변수는 a1=",a1)
    

def func4():
    global a
    a=4
    print("func4의 전역변수는 a=",a)
    
func2()
func3()
func4()

func2의 지역변수는 a= 2
func3의 전역변수는 a= 5
func3의 지역변수는 a1= 3
func4의 전역변수는 a= 4

In [38]:
(lambda x : x**2)(3)

9

In [42]:
Square = lambda x : x*2 + 3

print(Square(3))
print(Square(2))

9
7

In [43]:
Square = lambda x,y,z : x*2 + y*3 + z
Square(3,4,5)

23

In [45]:
[int(0.123), int(3.5123456), int(-1.312367)]

[0, 3, -1]

In [46]:
[int('1234'), int('5678'), int('-9012')]

[1234, 5678, -9012]

In [48]:
[float('10'), float('0.123'), float('-567.89')]

[10.0, 0.123, -567.89]

In [51]:
tuple_data = ('abc', 1, 2, 'def')

In [52]:
set_data = {'abc', 1, 2, 'def'}

In [53]:
print("튜플로 변환 :", tuple(set_data))

튜플로 변환 : (1, 2, 'def', 'abc')

In [54]:
print("세트로 변환 :", set(tuple_data))

세트로 변환 : {1, 2, 'def', 'abc'}

In [69]:
bool(0) # 숫자가 0 이면 False

False

In [56]:
bool(1) # 그 외의 숫자는 True

True

In [57]:
bool(-2)

True

In [58]:
bool(-5.123)

True

In [59]:
bool("a") # 모든 문자가 들어가면 True

True

In [60]:
bool(" ") # 띄어 쓰기도 포함

True

In [61]:
bool("") # 하지만 빈칸은 False

False

In [64]:
bool("ㅇ")

True

In [65]:
bool(None) # None 도 아무것도 없는 것이기 때문에 False

False

In [66]:
bool((1,2,3)) # Tuple 도 True

True

In [67]:
bool({1,2,3}) # set 도 True

True

In [68]:
bool([1,2,3]) # list 도 True

True

In [89]:
def print_name(s_name):
    if bool(s_name):
        print("당신의 이름은 {}입니다.".format(s_name))
        # print("당신의 이름은 :", s_name) 이런식으로도 사용 가능
    else :
        print("당신은 이름을 입력하지 않았습니다.")

In [90]:
print_name("정")

당신의 이름은 정입니다.

In [73]:
print_name(None)

당신은 이름을 입력하지 않았습니다.

In [94]:
num = [1,2,3,5,7,9,10]
print(min(num))
print(max(num))

1
10

In [95]:
[abs(1.45), abs(-1.565)]

[1.45, 1.565]

In [99]:
len(num)

7

In [116]:
len({1:"Tom", 2:"Yoon", 3:"Kim"})

3

In [373]:
number = [1,2,3,5,7,9,10]
sum(number) # 왜 오류가 나는건지 모르겠다.

TypeError: 'int' object is not callable

In [119]:
scores = [80,70,95,75]
sum = 0
subject = 0
for score in scores:
    sum = sum + score
    subject = subject + 1
    average = sum / subject

In [120]:
average

80.0

In [121]:
print("최하 점수:{0}, 최고 점수:{1}".format(min(scores), max(scores)))

최하 점수:70, 최고 점수:95

In [128]:
## 1. 주어진 숫자가 홀수 인지 짝수 인지 판별해주는 함수(even_odd)를 만들어보시오.

def even_odd(num):
    if num%2 == 0:
        return "EVEN"
    else:
        return "ODD"

In [129]:
even_odd(4)

'EVEN'

In [130]:
even_odd(101)

'ODD'

In [131]:
## 2. 람다 조건부 표현을 통해 간단하게 만들어보시오.

even_odd2 = lambda x : "Even" if x%2==0 else "Odd"

In [132]:
even_odd2(3)

'Odd'

In [133]:
even_odd2(2)

'Even'

In [136]:
## 구구단 계산
## 입력을 n(2부터 9까지의 자연수)으로 받았을 때, n에 해당되는 구구단을 출력하는 함수를 작성해 보시오.

def gugudan(n):
    for i in range(1, 10):
        p = n*i
        print(p, end=" ")

In [137]:
gugudan(3)

3 6 9 12 15 18 21 24 27

In [139]:
## 다음은 숫자들로 이루어진 리스트를 입력으로 받아 10보다 크거나 같은 수만 리턴해 주는 함수이다.

def func1(numbers):
    result = []
    for number in numbers:
        if number >= 10:
            result.append(number)
    return result

func1([9,10,11,12,13,14])

## 이 함수를 람다 함수로 변경해보시오.

[10, 11, 12, 13, 14]

In [144]:
func2 = lambda numbers : [number for number in numbers if number >= 10]

In [145]:
func2([9,10,11,12,13,14])

[10, 11, 12, 13, 14]

In [146]:
class car(): #146~148 : 클래스 지정
    pass

In [147]:
my_car = car()

In [148]:
my_car

In [150]:
## 객체의 속성 설정
my_car.wheel_size = 16
my_car.color = 'black'

In [152]:
print("바퀴의 크기 :", my_car.wheel_size)

바퀴의 크기 : 16

In [153]:
print("생상 :", my_car.color)

생상 : black

In [154]:
class car():
    def moves(self, speed):
        print("자동차는 시속 {}킬로미터로 전진".format(speed))
    def turn(self, direction):
        print("자동차는 {}방향으로 회전".format(direction))
    def stop(self):
        print("자동차({0},{1}): 정지".format(self.wheel, self.color))

In [155]:
my_car = car()
my_car.wheel = 18
my_car.color = 'red'

In [157]:
my_car.moves(40)
my_car.turn('우')
my_car.stop()

자동차는 시속 40킬로미터로 전진
자동차는 우방향으로 회전
자동차(18,red): 정지

In [160]:
# 객체 초기화 함수
class car():
    def __init__ (self, wheel, color):
        self.wheel = wheel
        self.color = color
        
    def moves(self, speed):
        print("자동차는 시속 {}킬로미터로 전진".format(speed))
    def turn(self, direction):
        print("자동차는 {}방향으로 회전".format(direction))
    def stop(self):
        print("자동차({0},{1}): 정지".format(self.wheel, self.color))

In [161]:
my_car = car(19, "yellow")

In [163]:
my_car.moves(90)
my_car.turn("좌")
my_car.stop()

자동차는 시속 90킬로미터로 전진
자동차는 좌방향으로 회전
자동차(19,yellow): 정지

In [164]:
# 클래스에서 사용하는 변수
# 1. 클래스 변수 : 클래스 내에 있지만 함수 밖에서 "변수명 = 데이터" 형식으로 정의
#                  클래스에서 생성한 모든 객체가 공통으로 사용
#                  "클래스명.변수명" 형식으로 사용
# 2. 인스턴스 변수 : 클래스 내의 함수 안에서 "self.변수명 = 데이터" 형식으로 정의
#                    클래스 내의 모든 함수에서 "self.변수명"으로 접근하고 "객체명.변수명"형식으로 사용

In [168]:
class car2():
    instance_count=0
    def __init__(self, wheel, color):
        self.wheel = wheel     # 인스턴스 변수
        self.color = color     # 인스턴스 변수
        car2.instance_count = car2.instance_count + 1   # 클래스 변수
        print("자동차 개체의 수 :{}".format(car2.instance_count))
        
    def moves(self, speed):
        print("자동차는 시속 {}킬로미터로 전진".format(speed))
    def turn(self, direction):
        print("자동차는 {}방향으로 회전".format(direction))
    def stop(self):
        print("자동차({0},{1}): 정지".format(self.wheel, self.color))

In [169]:
car11 = car2(16, "green")
car12 = car2(18, "blue")    # 처음에는 1개가 찍혔지만 2개를 등록하여서 2개로 변하였다.

자동차 개체의 수 :1
자동차 개체의 수 :2

In [173]:
car11.moves(30)
car11.turn("앞")
car11.stop()

자동차는 시속 30킬로미터로 전진
자동차는 앞방향으로 회전
자동차(16,green): 정지

In [171]:
car12.moves(80)

자동차는 시속 80킬로미터로 전진

In [2]:
class car2():
    count = 0
    
    def __init__(self, wheel, color, num):
        self.wheel = wheel  #인스턴스 변수
        self.color = color  #인스턴스 변수
        self.count = num    #인스턴스 변수
        car2.count = car2.count + 1   #클래스 변수
        print("자동차 개체의 수 : car2.count = {}".format(car2.count))
        print("자동차 인원의 수 : self.count = {}".format(self.count))

In [3]:
car11 = car2(18, "red", 4)
car12 = car2(20, "white", 8)

자동차 개체의 수 : car2.count = 1
자동차 인원의 수 : self.count = 4
자동차 개체의 수 : car2.count = 2
자동차 인원의 수 : self.count = 8

In [4]:
class car2():
    count = 0
    
    def __init__(self, wheel, color, num):
        self.wheel = wheel  #인스턴스 변수
        self.color = color  #인스턴스 변수
        self.count = num    #인스턴스 변수
        car2.count = car2.count + 1   #클래스 변수
        print("({0},{1})자동차 개체의 수 : car2.count = {2}".format(self.wheel, self.color, car2.count))
        print("({0},{1})자동차 인원의 수 : self.count = {2}".format(self.wheel, self.color, self.count))

In [5]:
car11 = car2(18, "red", 4)
car12 = car2(20, "white", 8)

(18,red)자동차 개체의 수 : car2.count = 1
(18,red)자동차 인원의 수 : self.count = 4
(20,white)자동차 개체의 수 : car2.count = 2
(20,white)자동차 인원의 수 : self.count = 8

In [6]:
#1. 인스턴스 메서드(instance method) : 각 개체에서 개별적으로 동작하는 함수를 만들고자 할 때 사용
#                                      "self [인자1], [인자2], ......"로 정의 self는 인스턴스(객체)를 의미
#                                      "self.함수명()"형식으로 호출

In [10]:
class car2():
    count = 0
    
    def __init__(self, wheel, color, num):
        self.wheel = wheel  #인스턴스 변수
        self.color = color  #인스턴스 변수
        self.count = num    #인스턴스 변수
        car2.count = car2.count + 1   #클래스 변수
        print("({0},{1})자동차 개체의 수 : car2.count = {2}".format(self.wheel, self.color, car2.count))
        print("({0},{1})자동차 인원의 수 : self.count = {2}".format(self.wheel, self.color, self.count))
        
    def move(self, speed):
        self.speed = speed
        print("자동차({0},{1})가 {2}킬로 미터로 주행한다.".format(self.wheel, self.color, self.speed))
        
    def auto_curise(self):
        print("자율 주행 모드 입니다.")
        self.move(self.speed)

In [11]:
car11 = Car2(19, "white", 2)

(19,white)자동차 개체의 수 : car2.count = 1
(19,white)자동차 인원의 수 : self.count = 2

In [17]:
car11.move(80)

자동차(19, white)가 80킬로미터로 주행한다.

In [18]:
car11.auto_curise()

자율 주행 모드 입니다.
자동차(19, white)가 80킬로미터로 주행한다.

In [19]:
car12 = Car2(20, "red", 4)

(20,red)자동차 개체의 수 : car2.count = 2
(20,red)자동차 인원의 수 : self.count = 4

In [20]:
car12.move(100)

자동차(20, red)가 100킬로미터로 주행한다.

In [22]:
car12.auto_curise()

자율 주행 모드 입니다.
자동차(20, red)가 100킬로미터로 주행한다.

In [23]:
#2. 정적 메서드(static method) : 클래스와 관련이 있어 클래스 안에서 정의하지만 클래스나 인스턴스와는 무관하게 독립적으로 동작하는 함수
#                                @staticmethod로 선언한 후 함수를 정의
#                                "클래스.정적메서드명()"으로 호출

In [24]:
class car2():
    
    @staticmethod
    def check_type(model_code):
        if(model_code >= 20):
            print("전기차 입니다.")
        elif(10 <= model_code <20):
            print("가솔린차 입니다.")
        else:
            print("디젤차 입니다.")

In [25]:
car2.check_type(25)

전기차 입니다.

In [26]:
car2.check_type(4)

디젤차 입니다.

In [ ]:
#3. 클래스 메서드(class method) : 클래스 변수를 사용하기 위한 함수
#                                 @classmethod로 선언한 후 "함수명(cls)"로 정의
#                                 "클리스.클래스메서드명()"으로 호출

In [27]:
class car2():
    count = 0
    
    def __init__(self, wheel, color, num):
        self.wheel = wheel  #인스턴스 변수
        self.color = color  #인스턴스 변수
        self.count = num    #인스턴스 변수
        car2.count = car2.count + 1   #클래스 변수
        print("({0},{1})자동차 개체의 수 : car2.count = {2}".format(self.wheel, self.color, car2.count))
        print("({0},{1})자동차 인원의 수 : self.count = {2}".format(self.wheel, self.color, self.count))
        
    def move(self, speed):
        self.speed = speed
        print("자동차({0},{1})가 {2}킬로 미터로 주행한다.".format(self.wheel, self.color, self.speed))
        
    def auto_curise(self):
        print("자율 주행 모드 입니다.")
        self.move(self.speed)
    
    @staticmethod
    def check_type(model_code):
        if(model_code >= 20):
            print("전기차 입니다.")
        elif(10 <= model_code <20):
            print("가솔린차 입니다.")
        else:
            print("디젤차 입니다.")
            
    @classmethod
    def instance_count(cls):
        print("자동차의 개체수는 :{}".format(cls.count))

In [28]:
car2.instance_count()

자동차의 개체수는 :0

In [31]:
car11 = car2(19, "white", 2)

(19,white)자동차 개체의 수 : car2.count = 1
(19,white)자동차 인원의 수 : self.count = 2

In [32]:
car2.instance_count()

자동차의 개체수는 :1

In [33]:
car12 = car2(20, "red", 5)

(20,red)자동차 개체의 수 : car2.count = 2
(20,red)자동차 인원의 수 : self.count = 5

In [34]:
car2.instance_count()

자동차의 개체수는 :2

In [35]:
# Biggy : 데이터에듀의 마스코트

biggy_name = "B"
biggy_pos = 0

def biggy_move():
    global biggy_pos
    biggy_pos = biggy_pos + 1
    print("{0}의 모션은 {1}".format(biggy_name, biggy_pos))

In [37]:
biggy_move()

B의 모션은 2

In [38]:
biggy1_name = "B"
biggy1_pos = 0

def biggy1_move():
    global biggy1_pos
    biggy1_pos = biggy1_pos + 1
    print("{0}의 모션은 {1}".format(biggy1_name, biggy1_pos))

In [40]:
biggy1_move()

B의 모션은 1

In [41]:
class Biggy():   # 클래스를 사용해 위에서의 번거러움을 한번에 처리해준다.
    def __init__(self, name, pos):
        self.name = name
        self.pos = pos
        
    def move(self):
        self.pos = self.pos+1
        print("{0}의 모션은 {1}".format(self.name, self.pos))

In [42]:
biggy1 = Biggy("B1", 2)

In [43]:
biggy2 = Biggy("B2", 5)

In [44]:
biggy1.move()

B1의 모션은 3

In [45]:
biggy2.move()

B2의 모션은 6

In [46]:
class car2():
    count = 0
    
    def __init__(self, wheel, color, num):
        self.wheel = wheel  #인스턴스 변수
        self.color = color  #인스턴스 변수
        self.count = num    #인스턴스 변수
        car2.count = car2.count + 1   #클래스 변수
        print("({0},{1})자동차 개체의 수 : car2.count = {2}".format(self.wheel, self.color, car2.count))
        print("({0},{1})자동차 인원의 수 : self.count = {2}".format(self.wheel, self.color, self.count))
        
    def move(self, speed):
        self.speed = speed
        print("자동차({0},{1})가 {2}킬로 미터로 주행한다.".format(self.wheel, self.color, self.speed))
        
    def auto_curise(self):
        print("자율 주행 모드 입니다.")
        self.move(self.speed)
    
    @staticmethod
    def check_type(model_code):
        if(model_code >= 20):
            print("전기차 입니다.")
        elif(10 <= model_code <20):
            print("가솔린차 입니다.")
        else:
            print("디젤차 입니다.")
            
    @classmethod
    def instance_count(cls):
        print("자동차의 개체수는 :{}".format(cls.count))

In [51]:
class RoboticCar(car2):
    def __init__(self, wheel, color, num, state):
        car2.__init__(self, wheel, color, num)
        # super().__init__(wheel, color, num) 을 "car2.__init__(self,wheel,color,num)"과 변경하여 사용 가능
        self.state = state
    def robotic(self):
        self.state = "Robotic"
        print("자동차:무인, state={0}".format(self.state))
    def human(self):
        self.state = "Human"
        print("자동차:유인, state={0}".format(self.state))

In [52]:
Robotic_car = RoboticCar(17, "white", 4, "Robotic")

(17,white)자동차 개체의 수 : car2.count = 2
(17,white)자동차 인원의 수 : self.count = 4

In [53]:
Robotic_car.robotic()

자동차:무인, state=Robotic

In [54]:
Robotic_car.human()

자동차:유인, state=Human

In [59]:
## 'zoom과 pixel이 속성이고, 이를 통해 사진을 촬영한다.'를 camera클래스로 작성하시오.
class camera:
    def __init__(self, zoom, pixel):
        self.zoom = zoom
        self.pixel = pixel
    def pic(slef) :
        print("take a picture")

In [60]:
sony = camera(5,10000)

In [61]:
sony.pic()

take a picture

In [78]:
## 밑에 보이는 코드는 계산기처럼 동작하는 Calculator클래스를 작성해보시오
# Hint1. __init__ 함수 작성(사용)
# Hint2. sum메서드와 avg메서드 생성


# cal1 = Calculator([1,3,5,7,9])
# cal1.sum() 합계
# 25
# cal.avg() 평균
# 5.0
# cal2 = Calculator([2,4,6,8,10])
# cal2.sum() 합계
# 30
# cal2.avg() 평균
# 6.0


class Calculator :
    def __init__(self, num_list):
        self.num = num_list
    def sum(self):
        result = 0
        for i in self.num:
            result = result + i
        return result
    def avg(self):
        av = self.sum()
        return av / len(self.num)

In [79]:
cal1 = Calculator([1,3,5,7,9])

In [80]:
print(cal1.sum())

25

In [81]:
print(cal1.avg())

5.0

In [82]:
cal2 = Calculator([2,4,6,8,10])

In [83]:
print(cal2.sum())

30

In [84]:
print(cal2.avg())

6.0

In [86]:
lunch_str = "돈까스, 된장찌개, 김치찌개, 순두부"
lunch_str.split(", ")

['돈까스', '된장찌개', '김치찌개', '순두부']

In [87]:
"돈까스, 된장찌개, 김치찌개, 순두부".split(", ")

['돈까스', '된장찌개', '김치찌개', '순두부']

In [89]:
"돈까스 된장찌개 김치찌개 순두부".split( )

['돈까스', '된장찌개', '김치찌개', '순두부']

In [90]:
"       돈까스    \n 된장찌개  \n       김치찌개   \n 순두부".split()
# split에 아무것도 적지 않으면 공백과 enter는 자동으로 삭제된다.

['돈까스', '된장찌개', '김치찌개', '순두부']

In [91]:
"돈까스, 된장찌개, 김치찌개, 순두부".split(maxsplit=2) #최대 앞에서부터 공백 2개를 찾아서 나눠준다.

['돈까스,', '된장찌개,', '김치찌개, 순두부']

In [92]:
#폰번호에서 국제번호만 따로 구분해서 찾고싶을때 사용하는 방법
phone_number = "+82-02-2345-6789"
split_num = phone_number.split("-",1)

In [93]:
print(split_num)

['+82', '02-2345-6789']

In [95]:
print("한국 번호는 : {}".format(split_num[1]))

한국 번호는 : 02-2345-6789

In [99]:
"aaaaadddddddddaaaaPythonbbbbbbbbbbbaaaaaaa".strip("a")

'dddddddddaaaaPythonbbbbbbbbbbb'

In [105]:
"aaaaadddddddddaaaaPythonbbbbbbbbbbbaaaaaaa".strip("abd")

'Python'

In [100]:
test_str = "aaaaadddddddddaaaaPythonbbbbbbbbbbbaaaaaaa"

In [101]:
temp1 = test_str.strip("a")

In [102]:
temp1

'dddddddddaaaaPythonbbbbbbbbbbb'

In [103]:
temp1 = test_str.strip("abd")

In [104]:
temp1

'Python'

In [106]:
test_str2 = "@#%&*@# Python  #@*#@&#"
temp1 = test_str2.strip("!@#$%^&* ")
temp1

'Python'

In [107]:
"               Python          ".strip()

'Python'

In [108]:
"   \n        Python   \n     \n          \n".strip()

'Python'

In [109]:
"01231230Python123111100".strip("0123") # 양쪽 모두 제거

'Python'

In [110]:
"01231230Python123111100".lstrip("0123") # 왼쪽 부분만 제거

'Python123111100'

In [111]:
"01231230Python123111100".rstrip("0123") # 오른쪽 부분만 제거

'01231230Python'

In [112]:
"000#0000Python0000".lstrip("0") # 샵 왼쪽 부분만 제거

'#0000Python0000'

In [113]:
"000#0000Python0000".lstrip("0#") # Python 왼쪽 부분만 제거

'Python0000'

In [115]:
lunch_menu = " 돈까스,   된장찌개,       김치찌개,   순두부  "
lunch_menu_list = lunch_menu.split(",")
lunch_menu_list

[' 돈까스', '   된장찌개', '       김치찌개', '   순두부  ']

In [119]:
lunch_list = []
for lunch in lunch_menu_list:
    temp = lunch.strip()
    lunch_list.append(temp)
print("점심 메뉴는 ",lunch_list)

점심 메뉴는  ['돈까스', '된장찌개', '김치찌개', '순두부']

In [120]:
name1 = "도훈"
name2 = "아영"

In [121]:
hello = "님의 주소는 어떻게 되나요?"

In [122]:
print(name1+hello)

도훈님의 주소는 어떻게 되나요?

In [123]:
print(name2+hello)

아영님의 주소는 어떻게 되나요?

In [124]:
address = ["서울시", "영등포구", "여의도동", "63번지"]

In [131]:
a = " "

In [132]:
a.join(address)

'서울시 영등포구 여의도동 63번지'

In [133]:
" ".join(address)

'서울시 영등포구 여의도동 63번지'

In [134]:
str = "Python program"

In [135]:
print("찾는 문자열의 위치는", str.find("Python"))

찾는 문자열의 위치는 0

In [136]:
print("찾는 문자열의 위치는", str.find("program"))

찾는 문자열의 위치는 7

In [137]:
print("찾는 문자열의 위치는", str.find("n"))

찾는 문자열의 위치는 5

In [139]:
print("찾는 문자열의 위치는", str.find("good")) # 없는 단어를 넣었을 때는 '-1'을 반환

찾는 문자열의 위치는 -1

In [144]:
str_s = "     python is powerful. Python is difficult"

In [145]:
print(str_s.find("Python", 20, 50))

25

In [146]:
print(str_s.find("Python", 20))

25

In [149]:
print(str_s.find("Python", 20, 32))

25

In [151]:
print("Python의 개수는 :", str_s.count("Python"))

Python의 개수는 : 1

In [152]:
print("is의 개수는 :", str_s.count("is"))

is의 개수는 : 2

In [153]:
print("python의 개수는 :", str_s.count("python"))

python의 개수는 : 1

In [155]:
print("문장의 시작은 :", str_s.startswith("Python")) # Python으로 시작하는가 아닌가 => False

문장의 시작은 : False

In [157]:
print("문장의 끝은 :", str_s.endswith("difficult")) # difficult로 끝나는가 아닌가 => True

문장의 끝은 : True

In [158]:
str_f = "Python is very good. Python is easy and powerful. and Python is fast."

In [159]:
print(str_f.replace("Python", "IPython"))

IPython is very good. IPython is easy and powerful. and IPython is fast.

In [161]:
print(str_f.replace("Python", "IPython", 2))

IPython is very good. IPython is easy and powerful. and Python is fast.

In [162]:
print(str_f.replace("Python", "", 2))

 is very good.  is easy and powerful. and Python is fast.

In [168]:
str_b = "[Python] [is] [good]"

In [169]:
str_b = str_b.replace("[", "")

In [170]:
str_b

'Python] is] good]'

In [171]:
str_b = str_b.replace("]", "")

In [172]:
str_b

'Python is good'

In [173]:
print("Python".isalpha()) # 알파벳 인지 아닌지 -> True

True

In [174]:
print("Ver.3.1".isalpha()) # 숫자도 들어있기 때문에 -> False

False

In [175]:
print("12341".isdigit()) # 숫자 인지 아닌지 -> True

True

In [178]:
print("12341ab".isdigit()) # 문자가 들어있기 때문에 -> False

False

In [179]:
print("     ".isspace()) # 공백으로만 되어 있기 때문에 -> True

True

In [181]:
print("     1    ".isspace()) # 공백말고 문자 or 숫자가 존재하기 때문에  -> False

False

In [182]:
print("Python".isupper()) # 대문자 인지 아닌지 -> False

False

In [184]:
print("Python".islower()) # 소문자 인지 아닌지 -> False

False

In [186]:
print("python".upper()) # 대문자로 변경시키기

PYTHON

In [188]:
print("PYTHON".lower()) # 소문자로 변경시키기

python

In [190]:
## 다음과 같은 문자열이 있다.

## str1 = "아버지:어머니:오빠:형"

## 이를 split()함수와 joini()함수를 활용하여 다음과 같이 수정하시오.

## str3 = "아버지/어머니/오빠/형"

str1 = "아버지:어머니:오빠:형"
str2 = str1.split(":")
str2

['아버지', '어머니', '오빠', '형']

In [192]:
str3 = "/".join(str2)
str3

'아버지/어머니/오빠/형'

In [193]:
## 다음과 같은 문자열이 있다.

## str1 = "아버지:어머니:오빠:형"

## replace()함수를 활용하여 같은 문자열이 나오도록 수정하시오.

## str2 = "아버지/어머니/오빠/형"

str1 = "아버지:어머니:오빠:형"
str2 = str1.replace(":", "/")
str2

'아버지/어머니/오빠/형'

In [196]:
## str1 = " bigdata have a good future prospect"
## 문자열 내의 소문자를 모두 대문자로 변경하고, 문자열 맨 앞의 공백을 삭제 한 후,
## 문자열이 모두 로마자 대문자인지 확인해보시오.
## 힌트 : .upper() 활용 ,  .strip() 활용,   .isupper() 활용

str1 = " bigdata have a good future prospect"
str2 = str1.upper()
str2

' BIGDATA HAVE A GOOD FUTURE PROSPECT'

In [197]:
str3 = str2.strip()
str3

'BIGDATA HAVE A GOOD FUTURE PROSPECT'

In [198]:
str3.isupper()

True

In [212]:
%%writefile c:\python_class\my_module.py
    # file name : my_module.py
def my_function():
    print("Hello, my name is Tom")

Writing c:\python_class\my_module.py

In [213]:
!type c:\python_class\my_module.py

    # file name : my_module.py
def my_function():
    print("Hello, my name is Tom")

In [214]:
cd c:\python_class

C:\python_class

In [215]:
import my_module2

In [216]:
my_module2.my_function()

Hello, my name is Tom

In [217]:
!echo %PYTHONPATH%

C:\python_class\module;C:\python_class\packages

### 새로운 모듈 만들기

In [222]:
%%writefile C:\python_class\module\my_area.py
# File name : my_area.py

PI = 3.14
def square_area(a) : # 정사각형의 넓이 반환
    return a ** 2

def circle_area(r) : # 원의 넓이 반환
    return PI * r ** 2

Overwriting C:\python_class\module\my_area.py

In [223]:
cd c:\python_class

C:\python_class

In [224]:
import my_area

In [226]:
print("PI=", my_area.PI)
print("square area=", my_area.square_area(5))
print("circle area=", my_area.circle_area(5))

PI= 3.14
square area= 25
circle area= 78.5

In [227]:
dir(my_area)

['PI',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'circle_area',
 'square_area']

In [228]:
from my_area import PI
print("pi=", PI)

pi= 3.14

In [232]:
from my_area import square_area
from my_area import circle_area

In [234]:
print("sqaure_area=", square_area(5))

sqaure_area= 25

In [235]:
print("circle_area=", circle_area(5))

circle_area= 78.5

In [237]:
from my_area import PI, square_area, circle_area
print("pi=", PI)
print("sqaure_area=", square_area(5))
print("circle_area=", circle_area(5))

pi= 3.14
sqaure_area= 25
circle_area= 78.5

In [239]:
from my_area import *
print("pi=", PI)
print("sqaure_area=", square_area(5))
print("circle_area=", circle_area(5))

pi= 3.14
sqaure_area= 25
circle_area= 78.5

In [240]:
import my_area as area

In [242]:
print("pi=", area.PI)
print("square area=", area.square_area(5))
print("circle area=", area.circle_area(5))

pi= 3.14
square area= 25
circle area= 78.5

In [244]:
from my_area import PI as pi
from my_area import square_area as square
from my_area import circle_area as circle

In [ ]:
print("pi=", pi)
print("square area=", square(5))
print("circle area=", circle(5))

In [248]:
%%writefile c:\python_class\module\mod_test1.py
def func(a):
    print("입력한 값은 :", a)
func(3)

Overwriting c:\python_class\module\mod_test1.py

In [249]:
%run c:\python_class\module\mod_test1.py

입력한 값은 : 3

In [250]:
import mod_test1

입력한 값은 : 3

In [257]:
%%writefile c:\python_class\module\mod_test2.py
def func(a):
    print("입력한 값은 :", a)
    
if __name__ == "__main__":
    print("모듈을 직접 실행했습니다.")
    func(3)
    func(4)

Overwriting c:\python_class\module\mod_test2.py

In [258]:
%run c:\python_class\module\mod_test2.py

모듈을 직접 실행했습니다.
입력한 값은 : 3
입력한 값은 : 4

In [259]:
import mod_test2
# if __name__=="__main__"를 실행하였을 경우에는 import로 실행이 되지 않는다.

In [260]:
%%writefile c:\python_class\module\mod_test3.py
def func(a):
    print("입력한 값은 :", a)
    
if __name__ == "__main__":
    print("모듈을 직접 실행했습니다.")
    func(3)
    func(4)
else:
    print("모듈을 인포트해서 실행합니다.")

Writing c:\python_class\module\mod_test3.py

In [261]:
%run c:\python_class\module\mod_test3.py

모듈을 직접 실행했습니다.
입력한 값은 : 3
입력한 값은 : 4

In [262]:
import mod_test3

모듈을 인포트해서 실행합니다.

In [264]:
import random

In [265]:
random.random()

0.7382784244073702

In [269]:
num1 = random.randint(1,10)
num2 = random.randint(1,5)
print("첫번째 수는 {0}, 두번째 수는 {1}".format(num1, num2))

첫번째 수는 8, 두번째 수는 2

In [280]:
random.randrange(0,11,2) #0부터 10까지 2씩 증가하는 숫자를 뽑는것이다.

6

In [281]:
num1 = random.randrange(1,10,2)
num2 = random.randrange(0,11,2)
print("홀수는 : {0}, 짝수는 : {1}".format(num1, num2))

홀수는 : 9, 짝수는 : 4

In [282]:
menu = ["김치찌개", "된장찌개", "비빔밥", "돈까스"]
random.choice(menu)

'비빔밥'

In [283]:
random.sample([1,2,3,4,5,6,7,8,9],3) # 처음 list에서 3개의 수를 랜덤하게 뽑는 것이다.

[8, 9, 7]

In [284]:
import datetime
set_date = datetime.date(2019, 7, 2)
print(set_date)

2019-07-02

In [285]:
print("{0}/{1}/{2}".format(set_date.year, set_date.month, set_date.day))

2019/7/2

In [288]:
date1 = datetime.date(2019,7,2)
date2 = datetime.date(2020,9,1)
diff_date = date2 - date1
print(diff_date)

427 days, 0:00:00

In [289]:
print(datetime.date.today())

2019-07-02

In [291]:
set_time = datetime.time(15,36,30)
print(set_time)

15:36:30

In [292]:
print("{0}:{1}:{2}".format(set_time.hour, set_time.minute, set_time.second))

15:36:30

In [294]:
set_datetime = datetime.datetime(2019,7,2,15,37,20)
print(set_datetime)

2019-07-02 15:37:20

In [295]:
print("{0}/{1}/{2} {3}:{4}:{5}".format(set_datetime.year, set_datetime.month, set_datetime.day, set_datetime.hour, set_datetime.minute, set_datetime.second))

2019/7/2 15:37:20

In [297]:
print("{0}/{1}/{2}".format(set_datetime.year, set_datetime.month, set_datetime.day))

2019/7/2

In [299]:
print("{0}:{1}:{2}".format(set_datetime.hour, set_datetime.minute, set_datetime.second))

15:37:20

In [300]:
import calendar

In [304]:
print(calendar.calendar(2019, m=4))

                                               2019

      January                   February                   March                     April
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31      29 30

        May                       June                      July                     August
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7                1  2  3  4
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30 31

     September                  October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3                         1
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
30                                                                            30 31

In [305]:
print(calendar.month(2019,9))

   September 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [306]:
print(calendar.month(2020,9))

   September 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [309]:
print(calendar.monthrange(2019,9)) # 일요일(6)부터 시작해서 9월은 30일까지 존재한다.

(6, 30)

In [316]:
calendar.firstweekday() # 달력이 월요일(0)부터 시작함을 알려준다.

6

In [314]:
calendar.setfirstweekday(calendar.SUNDAY) # 달력 시작을 월요일 -> 일요일로 변경
print(calendar.month(2019,9))

   September 2019
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [317]:
print(calendar.weekday(2019,9,1)) # 6으로 일요일임을 알 수 있다.

6

In [319]:
print(calendar.isleap(2020)) #2020년이 윤달임을 알 수 있다.

True

In [320]:
mkdir c:\python_class\packages\image

In [321]:
mkdir c:\python_class\packages\image\io_file

In [325]:
%%writefile c:\python_class\packages\image\__init__.py
    #first file

Writing c:\python_class\packages\image\__init__.py

In [326]:
%%writefile c:\python_class\packages\image\io_file\__init__.py
    #first file

Writing c:\python_class\packages\image\io_file\__init__.py

In [327]:
%%writefile c:\python_class\packages\image\io_file\imagegread.py
def pnggread():
    print("pnggread is in imagedgread module")
def jpggread():
    print("jpggread is in imagedgread module")

Writing c:\python_class\packages\image\io_file\imagegread.py

In [329]:
!tree /F c:\python_class\packages

폴더 PATH의 목록입니다.
볼륨 일련 번호는 E458-A302입니다.
C:\PYTHON_CLASS\PACKAGES
└─image
    │  __init__.py
    │
    └─io_file
            imagegread.py
            __init__.py

In [330]:
import image.io_file.imagegread

In [332]:
image.io_file.imagegread.pnggread()

pnggread is in imagedgread module

In [333]:
image.io_file.imagegread.jpggread()

jpggread is in imagedgread module

In [334]:
from image.io_file import imagegread

In [335]:
imagegread.pnggread()

pnggread is in imagedgread module

In [336]:
imagegread.jpggread()

jpggread is in imagedgread module

In [337]:
from image.io_file.imagegread import pnggread
pnggread()

pnggread is in imagedgread module

In [338]:
from image.io_file.imagegread import *
pnggread()

pnggread is in imagedgread module

In [339]:
jpggread()

jpggread is in imagedgread module

In [341]:
## Calendar 모듈을 사용하여 2020년 12월 달력을 출력하시오.
## Calendar 모듈을 사용하여 2020년 12월 1일은 무슨 요일인지, 12월은 몇일이 있는지 출력하시오.

import calendar
print(calendar.month(2020,12))

   December 2020
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [343]:
calendar.monthrange(2020,12) # 1일로 시작 즉, 화요일로 시작하며 총 31일이 존재한다.

(1, 31)

In [344]:
# 내장모듈인 난수 발생 모듈(random모듈)을 호라용하여 가위 바위 보 게임을 만들어 보고자 합니다.
# 아래의 모듈을 사용하여 기존에 학습한 if ~ elif ~ else문을 활용한 '컴퓨터와 가위 바위 보 게임 만들기'를 마무리 해보시오.
# import random
# for i in range(3): # 가위바위보 실행 횟수 지정
#    sel = int(input("<<0(가위) 1(바위) 2(보)중 하나를 선택하세요>>\n"))
#    ai = random.randrange(0,2)
#    print(ai)
# 힌트  
# 내가 가위내면 (sel = 0) -> ai = 1(진다.), ai = 2(이긴다.)
# 내가 바위내면 (sel = 1) -> ai = 0(이긴다.), ai = 2(진다.)
# 내가 보를내면 (sel = 2) -> ai = 0(진다.), ai = 1(이긴다.)

In [345]:
import random

for i in range(3):
    sel = int(input("<<0(가위) 1(바위) 2(보)중 하나를 선택하시오>>\n"))
    ai = random.randrange(0,2)
    print(ai)
    
    if sel>2:
        print("잘못 누르셨습니다.")
    elif sel == ai:
        print("비겼습니다.")
    elif sel+1 == ai or (sel == 2 and ai == 0):
        print("컴퓨터 승리")
    else:
        print("내가 승리")

<<0(가위) 1(바위) 2(보)중 하나를 선택하시오>>
2
0
컴퓨터 승리
<<0(가위) 1(바위) 2(보)중 하나를 선택하시오>>
1
1
비겼습니다.
<<0(가위) 1(바위) 2(보)중 하나를 선택하시오>>
1
0
내가 승리