In [1]:
print("hello python")

hello python

In [2]:
2 ** 3

8

In [4]:
2 ** (2**(1/2))

2.665144142690225

In [6]:
a = 52345
b = 66
result = a%b
print("<%d>를 <%d>로 나누면 <%d>가 나머지로 남습니다." %(a,b,result))

<52345>를 <66>로 나누면 <7>가 나머지로 남습니다.

In [8]:
print(bin(17))
print(oct(17))
print(hex(17))
print(0b10001)
print(0o21)
print(0x11)

0b10001
0o21
0x11
17
17
17

In [9]:
a = "Hi, My name is Biggy"
type(a)

str

In [10]:
print('갈릴레오 갈릴레이는 말했다. "그래도 지구는 돈다."')

갈릴레오 갈릴레이는 말했다. "그래도 지구는 돈다."

In [11]:
a = "Python is"
b = " easy to code"
a + b

'Python is easy to code'

In [14]:
a = "python "
a * 5

'python python python python python '

In [16]:
solarsys = ["태양", "수성", "금성", "지구", "화성", "목성", "토성", "천왕성", "해왕성", "명왕성"]

del solarsys[-1]
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [18]:
solarsys = ["태양", "수성", "금성", "지구", "화성", "목성", "토성", "천왕성", "해왕성", "명왕성"]

del solarsys[1:7]
print(solarsys)

['태양', '천왕성', '해왕성', '명왕성']

In [20]:
solarsys = ["태양", "수성", "금성", "지구", "화성", "목성", "토성", "천왕성", "해왕성", "명왕성"]

solarsys.insert(3, "달")
print(solarsys)

['태양', '수성', '금성', '달', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']

In [21]:
solarsys = ["태양", "수성", "금성", "지구", "화성", "목성", "토성", "천왕성", "해왕성", "명왕성"]

solarsys.extend(["헬리혜성"])
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성', '헬리혜성']

In [22]:
t1 = (1,2,'q','w','e')
t1[1:]

(2, 'q', 'w', 'e')

In [23]:
t2 = (1,2,1,1,4,1,'e')
t2.count(1)

4

In [25]:
best2018 = set(["MESSI", "RONALDO", "MBAPPE", "HAZARD", "KANTE", "MODRIC", "MARCELO", "RAMOS", "VARANE", "ALVES", "DEGEA"])
best2017 = set(["MESSI", "SUAREZ", "RONALDE", "INIESTA", "KROOS", "MODRIC", "MARCELO", "RAMOS", "PIQUE", "ALVES", "NEUER"])

best2018.intersection(best2017)

{'ALVES', 'MARCELO', 'MESSI', 'MODRIC', 'RAMOS'}

In [29]:
names = {"오현민":10999, "이주경":2111, "권도훈":9778, "김아영":20245, "박서혜":27115, "안준한":5887, "박수정":7855}
names["오현민"] = 30000
print(names)
del names["이주경"]
print(names)

{'오현민': 30000, '이주경': 2111, '권도훈': 9778, '김아영': 20245, '박서혜': 27115, '안준한': 5887, '박수정': 7855}
{'오현민': 30000, '권도훈': 9778, '김아영': 20245, '박서혜': 27115, '안준한': 5887, '박수정': 7855}

In [31]:
key = names.keys()
print(key)
val = names.values()
print(val)

dict_keys(['오현민', '권도훈', '김아영', '박서혜', '안준한', '박수정'])
dict_values([30000, 9778, 20245, 27115, 5887, 7855])

In [32]:
x = 75
if x >= 85:
    print("합격")
else:
    print("불합격")

불합격

In [33]:
x = 70
if x > 85:
    print("A")
elif 70 < x <= 85:
    print("B")
else:
    print("F")

F

In [34]:
x = 80
if x >= 90:
    if x == 100:
        print("A+")
    else:
        print("A")
elif 70 <= x < 90:
    print("B")
else:
    print("F")

B

In [35]:
x = 38
if x >= 38 and x < 50:
    print("correct answer")

correct answer

In [38]:
score = int(input("점수를 입력하세요 "))

if score >= 60:
    print("통과")
else:
    print("과락")

점수를 입력하세요 70
통과

In [47]:
age = 12
height = 130

if age >= 10 and height >= 120:
    print("possible")
else:
    print("impossible")

possible

In [49]:
x = 10
y = 12
if x > y:
    print("x is bigger than y")
elif x == y :
    print("x is same as y")
else:
    print("x is smaller than y")

x is smaller than y

In [51]:
numbers = [6,12,8,10,7,2,3]

for numbers in numbers:
    if numbers < 10:
        continue
    else:
        print(numbers)

12
10

In [52]:
for numbers in range(1,11):
    if(numbers%3==0):
        continue
    else:
        print(numbers)

1
2
4
5
7
8
10

In [53]:
for nb in range(1,11):
    if(nb%3!=0):
        print(nb)

1
2
4
5
7
8
10

In [56]:
for i in range(0,6):
    print(i, "번째 반복문입니다.")

0 번째 반복문입니다.
1 번째 반복문입니다.
2 번째 반복문입니다.
3 번째 반복문입니다.
4 번째 반복문입니다.
5 번째 반복문입니다.

In [57]:
num = 4
sum = 0
while num <= 100:
    sum += num
    num += 4
print("4의 배수의 합 : ", sum)

4의 배수의 합 :  1300

In [58]:
s = 0
for i in range(1,11):
    s = s + i
print(s)

55

In [60]:
s = 0
i = 1
while i <= 10:
    s = s + i
    i = i + 1
print(s)

55

In [61]:
star = 7
space = 0
while star > 0:
    print(" "*space + "*"*star)
    star = star - 2
    space = space + 1

*******
 *****
  ***
   *

In [62]:
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")
total = int(input1) + int(input2)
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:5
두번째 숫자를 입력하세요:10
두 수의 합은 15 입니다

In [63]:
num = input("숫자를 입력하세요 :")
nums = num.split(",")
sum = 0
for number in nums:
    sum = sum + int(number)
print("입력한 숫자들의 합은 : ", sum)

숫자를 입력하세요 :1,2,3,4,5,6,7,8,9,10
입력한 숫자들의 합은 :  55

In [70]:
mul = input("구구단을 출력할 숫자(2~9) : ")
mult = int(mul)
for i in range(1,10):
    print(mult*i, end=" ")

구구단을 출력할 숫자(2~9) : 5
5 10 15 20 25 30 35 40 45

In [74]:
f1 = open("t1.txt", "w")
f1.write("Experience is valuable!")
f1.close()
f2 = open("t1.txt", "r")
print(f2.read())
f2.close()

Experience is valuable!

In [75]:
with open("t1.txt", "w") as f1:
    f1.write("Experience is valuable!")
with open("t1.txt", "r") as f2:
    print(f2.read())

Experience is valuable!